@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:rgb(199, 103, 62);
    color:white;
    text-align: center;
    font-family: 'Asap', sans-serif;
}

header {
    background: white;
    color:#24272E;
    padding:1rem;
}

h1 {
    font-size:2rem;

}

.border-sec{
    border: 3px solid white;
    width:40%;
    margin: 2rem auto;
    color:white;
    font-size: 1rem;
    padding:1rem;
    border-radius: 3px;
}

#radio-div {
  display:grid;
  grid-template-columns: .5fr 1fr 1fr .5fr;
    text-align: left;
    justify-content: center;
    align-items: center;
}

#rounds {
    width:40%;
    margin:0 auto;
}

#customInput {
    display:none;
    grid-column-start:1 ;
    grid-column-end: -1;
}

/* #radios label {
    margin-right:4rem;
} */

#round-count {
    font-size: 4rem;
    text-align: center;
    display:none;
}

input {
    margin: 2vh auto;
}

input[type=number] {
padding:1rem;
font-family: 'Asap', sans-serif;
}

input[type=submit] {
padding:.5rem 1rem;
font-family: 'Asap', sans-serif;
text-transform: uppercase;
}


#result, #winOrLose {
    font-size: 1.2rem;
}


a {
    color:yellow;
font-size: 1.5rem;
}









@media only screen and (max-width: 1024px) {
    .border-sec{
        width:98%;
        border: 7px solid white;
        margin: 5vh 1%;
        font-size: 2rem;

    }
    input{
        font-size: 2rem;
        }

        #result, #winOrLose {
            font-size: 1.8rem;
        }
    }


@media only screen and (max-width: 580px) {
    .border-sec{
        width:90%;
        border: 7px solid white;
        margin: 1rem;
        font-size: 1.2rem;
    }
    
    input{
        font-size: 1rem;
    }

    #result, #winOrLose {
        font-size: 1.1rem;
    }
}
